<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="use_gui" value="True"/>
    <param name="robot_description" textfile="$(find my2wr)/urdf/m2wr.xacro" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz"/>
</launch>